{% if rating is not defined %}
  {% set rating = post.rating %}
{% endif %}
<article class="row">
  <div class="row">
        {% include 'BlogBundle:Frontend/Post:item.header.html.twig' with {'post': post, 'rating': rating} %}
  </div>
  {% if post.hasImage %}
    <img class="img" src="{{ post.image | imagine_filter('list_widen_200') }}" alt="{{ post }}"/>
  {% endif %}
  <p>{{ post.intro | raw }}</p>
  {% if post.hasSource %}
    <p>Enlace a la fuente original:
      <a href="{{ path('_blog_redirect_post_source', {id: post.id}) }}" target="_blank"
         title="{{ post }}">{{ post }}</a>
    </p>
  {% endif %}
  <small>
    {% trans %}Published on{% endtrans %}
{#     <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | localeDate('full') }}.</time>#}
    <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | date("m-d-Y, H:i", "Europe/Warsaw") }}.</time>
  </small>
</article>
