<h2>{% trans %}Leave a comment{% endtrans %}</h2>
<form id="post-comment" action="{{ path('_blog_comment_create', { 'post_id' : post.id }) }}"
      method="post" {{ form_enctype(form) }}>
  <div class="row row-fluid">
    {% if form_errors(form) %}
      <div class="alert alert-error">{{ form_errors(form) }}</div>
    {% endif %}
    <div class="col-md-7">
      <p>
        <label for="">{% trans %}Comment{% endtrans %}(*)</label>
        {% if form_errors(form.content) %}

      <div class="alert alert-error">{{ form_errors(form.content) }}</div>
      {% endif %}
      {{ form_widget(form.content) }}
      </p>
    </div>
    <div class="col-md-5">
      <p>
        <label for="">{% trans %}Name{% endtrans %}(*)</label>
        {% if form_errors(form.userName) %}

      <div class="alert alert-error">{{ form_errors(form.userName) }}</div>
      {% endif %}
      {{ form_widget(form.userName) }}
      </p>
      <p>
        <label for="">{% trans %}E-mail{% endtrans %}</label>
        {% if form_errors(form.userEmail) %}

      <div class="alert alert-error">{{ form_errors(form.userEmail) }}</div>
      {% endif %}
      {{ form_widget(form.userEmail) }}
      </p>
      <p>
        <label for="">{% trans %}Website{% endtrans %}</label>
        {% if form_errors(form.userWeb) %}

      <div class="alert alert-error">{{ form_errors(form.userWeb) }}</div>
      {% endif %}
      {{ form_widget(form.userWeb) }}
      </p>
    </div>
  </div>
  <div class="row row-fluid row-captcha">
    <p>
      <label for="">(*){% trans %}Are you human{% endtrans %}?</label>
      {% if form_errors(form.captcha) %}
    <div class="alert alert-error">{{ form_errors(form.captcha) }}</div>
    {% endif %}
    {{ form_widget(form.captcha, { 'attr': {'class': 'captcha' }} ) }}

    <button class="btn" type="submit">{% trans %}Submit{% endtrans %}</button>
    </p>
  </div>

  {{ form_rest(form) }}
</form>
<p>{% trans %}Fields marked with{% endtrans %} (*) {% trans %}are required{% endtrans %}</p>
